.found{
    border-color:green;
    background-image: url("../imagesConsole/success.png");
    background-repeat: no-repeat;
    width:100px
}
.notFound{
    border-color:red;
    background-image: url("../imagesConsole/error.png");
    background-repeat: no-repeat;
    width:100px
}
.banner {
    border: 1px solid #ddd;
    margin-top: 0.5em;
    margin-bottom: 15px;
}
.sub-container {
    margin-left: auto;
    margin-right: auto;
    display:table;
    width:75%;
}
.subnav-tabs{

    background: #f8f8f8;
    border-bottom: 0px solid #dadada;
    font-size: 13px;
    margin: 0px -15px;
}

.subnav-tabs ul{
    float: left;
}
.subnav-tabs li{
    list-style: none;
    border-top: 0px solid #ddd;

}
.subnav-tabs>li {
    float: left;
    position: relative;
}

.subnav-tabs>li>a {
    display: inline-block;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #666;
}

.subnav-tabs li a:hover{
    background: #ddd;
    color: #235b8a;
    text-decoration: none;

}

.subnav-tabs > li.active > a{
    color: #288DD0 !important; /*3382D6*/
    text-decoration: none;
    background: #F3F3F3;
}

.subnav-tabs > li.active > a > span.badge{
    background-color: #288DD0;
}
.subnav-tabs > li > a > span.badge-error{
    background-color: #FF2600;
}
.subnav-tabs > li.active > a > span.badge-error{
    background-color: #FF2600;
}

.subnav-tabs li.active:before, .subnav-tabs li.active:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
}


.subnav-tabs li.active:after {
    border-bottom: 7px solid #fff; /* triangle*/
    margin: 0 0 -1px -7px;

}

.subnav-tabs li.active:before, .subnav-tabs li.active:after {
    border-left: 7px solid #transparent;
    border-right: 7px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
}


.subnav-tabs li.active:before {
    border-bottom: 7px solid #bbb; /* #c4c4c4 */
    margin: 0 0 0 -7px;
}

