<!DOCTYPE html>
<html>
<head>
<title>Title</title>
</head>
<body>

	<div>
		<div class="consumer-profile">
			<div class="sub-container">
				<div class="row-fluid ">
					<div class="span3">
						<div class="data-label" data-ng-show="user" data-translate="headerbanner.customer.label"></div>
						<div class="data">{{user.firstName+' '+user.lastName}}</div>
					</div>
				</div>
				<div class="row-fluid " data-ng-show="currentPath()!=='/home'">
					<alerts-box alerts="globalAlerts" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>
