<div class="sub-container">
	<ul class="subnav-tabs">
		<li class="ng-class:{'active':currentPath().startsWith('/example1')}"><a href="#/example1"><span>{{'navigation.tabs.example1' | translate}}</span></a></li>
		<li class="ng-class:{'active':currentPath().startsWith('/example2')}"><a href="#/example2"><span>{{'navigation.tabs.example2' | translate}}</span></a></li>
		<li class="ng-class:{'active':currentPath().startsWith('/example3')}"><a href="#/example3"><span>{{'navigation.tabs.example3' | translate}}</span></a></li>
		<li class="ng-class:{'active':currentPath().startsWith('/example4')}"><a href="#/example4"><span>{{'navigation.tabs.example4' | translate}}</span></a></li>
	</ul>
</div>