<p data-translate="tabs.search.topic.lookupCustomers"></p>
<p>
	{{'tabs.search.label' | translate}}:
	<input data-ng-model="search.username">

	<input type="button" class="btn btn-primary" data-ng-click="clearSearch()" value="{{'reinitSearch' | translate}}"/>
</p>	

<hr/>
	Users found on <b>client</b> with the mask {{search.username}}:
	<div data-ng-repeat="user in users | filter:search.username">
		<span>{{user.username}}</span>
	</div>
	<hr/>
	One very useless fitler  from the <b>view</b> side : {{search.username | fringes:'$'}}
	<br/>
	One very useless fitler  from the <b>controller</b> side : {{search.username | fringes:'$'}}
	<hr/>
	Formatting timestamp {{timestamp}} from the <b>view</b> side : {{timestamp | date:'dd/MM/yyyy'}}
	<br/>
	Formatting timestamp {{timestamp}} from the <b>controller</b> side : {{formattedTimestamp}}
	<hr/>

