<p data-translate="tabs.search.topic.lookupCustomers"></p>
<p>
	{{'tabs.search.label' | translate}}:
	<input data-ng-model="search.username">
	<i id="searchStatus" class="ng-class: {'found':userFound, 'notFound':!userFound}; notFound">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
	<input id="resetButton" type="button" class="btn btn-primary" data-ng-click="clearSearch()" value="{{'reinitSearch' | translate}}"/>
</p>

<hr/>

	Users found on <b>server</b> with the mask {{search.username}}:
	<div id="users" data-ng-repeat="user in users">
		<span>{{user.username}}</span>
	</div>

